*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 定义网页背景！ */
body{
    background-color: #FAF9DE;    
    background-size: 100%;
    background-size: over;
}
.nav_left{
    float: left;
}
.nav_right{
    float: left; 
}
.q{
    float: left;
}
.text{
    font-size: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
header,ul,li,a{
    font-size: 30px;
}
header,ul{
    margin: 30px;
}
.right{
    top: 0px;
    right: 0px;
}
iframe{
    background-color:#C7EDCC;
    /* 设置透明度！ */
    opacity: 0.7; 
}